<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="https://ww2.uft.edu.br/index.php/sucom/padrao-de-documentos" target="_blank">
        <span matListItemTitle>Padrão de Documentos - UFT</span>
      </a>
      <a mat-list-item href="https://download.uft.edu.br/?d=bad52849-d7d1-434d-8e78-63b5584c93ef;1.0:IN%2003_2016%20-%20Dicom%20-%20Assinatura%20de%20E-mail%20Padr%C3%A3o%20@uft%20(1).docx" target="_blank">
        <span matListItemTitle>IN 03/2016 - DICOM</span>
        <span matListItemLine>Instrução Normativa n° 03/2016 - DICOM</span>
      </a>
      <a mat-list-item href="https://mail.google.com/a/mail.uft.edu.br" target="_blank">
        <span matListItemTitle>Webmail</span>
        <span matListItemLine>webmail.uft.edu.br</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{ titulo }}</span>
    </mat-toolbar>
    <div class="content">
      <form (submit)="false">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Tipo de assinatura</mat-label>
          <mat-select [(value)]="assinatura_tipo">
            <mat-option value="individual">Individual</mat-option>
            <mat-option value="setorial">Setorial</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Linha principal</mat-label>
          <input matInput #assinatura_linhaPrincipal [placeholder]="(assinatura_tipo == 'setorial') ? 'Nome do Setor por Extenso (XXX / Xxxx)' : 'Nome Completo'" />
        </mat-form-field>
      
        <p>
          <mat-form-field class="full-width">
            <mat-label>Linhas secundárias</mat-label>
            <textarea matInput #assinatura_linhasSecundarias rows="4" [placeholder]="(assinatura_tipo == 'setorial') ? 'Nome do Sub-Setor ou do Supra-Setor (XXX / Xxxx)' : 'Cargo / função\nNome do Setor por Extenso (XXX / Xxxx)\nNome do Sub-Setor ou do Supra-Setor (XXX / Xxxx)'"></textarea>
          </mat-form-field>
        </p>
      
        <mat-form-field class="full-width">
          <mat-label>Endereço institucional</mat-label>
          <input matInput #assinatura_endereco value="www.uft.edu.br" />
          <mat-hint><a href="https://{{assinatura_endereco.value}}" target="_blank">Clique aqui para testar o link</a></mat-hint>
          <span matTextPrefix>https://</span>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Telefone principal</mat-label>
          <input matInput #assinatura_telefonePrincipal placeholder="+55 63 0000-0000" />
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Telefone secundário</mat-label>
          <input matInput #assinatura_telefoneSecundario placeholder="+55 63 0000-0000" />
        </mat-form-field>
        
        <button mat-flat-button class="full-width" color="primary" (click)="copiarAssinatura()">
          <mat-icon>content_copy</mat-icon>
          <span>Copiar assinatura</span>
        </button>
      </form>

      <div id="assinatura">
        <br />
        <table width="auto" cellspacing="0" cellpadding="4" style="font: small/1.5 Arial,Helvetica,sans-serif;background-color: inherit;">
            <tbody>
                <tr>
                    <td width="121" valign="top" style="border:none;padding:0cm;text-align:center;vertical-align:middle">
                        <img src="https://docs.uft.edu.br/share/proxy/alfresco-noauth/api/internal/shared/node/CyCn0-KpTCyWT5x_P-qHvQ/content/marcaUFT_vertical_fundotransparente_RGB.png" height="65">
                    </td>
                    <td width="auto" style="border-top:none;border-bottom:none;border-left:1px solid rgb(0,0,0);border-right:none;padding:0 0 0 10px">
                        <b>{{ assinatura_linhaPrincipal.value }}</b>
                        <br /><span style="white-space: pre-wrap;">{{ assinatura_linhasSecundarias.value }}</span>
                        <br /><a href="https://{{assinatura_endereco.value}}" style="color:rgb(17,85,204)" target="_blank">{{assinatura_endereco.value}}</a>
                        <ng-container *ngIf="assinatura_tipo == 'setorial'"><br /></ng-container>
                        <ng-container *ngIf="(assinatura_telefonePrincipal.value != '' ? (assinatura_tipo != 'setorial' ? ' | ' : '') + assinatura_telefonePrincipal.value : '') as temp_telefonePrincipal">{{ temp_telefonePrincipal }}</ng-container>
                        <ng-container *ngIf="(assinatura_telefoneSecundario.value != '' ? ' | ' + assinatura_telefoneSecundario.value : '') as temp_telefoneSecundario">{{ temp_telefoneSecundario }}</ng-container>
                    </td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
